#header
{
    height: 94px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
} 

#header .wrapper
{
    width: 1300px;
    height: 94px;
    margin: auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
}

@media(max-width:1340px)
{
    #header .wrapper
    {
        width: 95%;
    }
}

/* основне меню */
#nav
{
    padding: 0 80px;
}

#nav ul
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav ul li
{
    display: inline-block;
}

#nav a
{
    font-size: 16px;
    font-weight: 600;
    color: var(--gray);
    text-decoration: none;
    transition: .5s;
}

#nav a.active
{
    color: var(--purpur);
}

#nav a:hover
{
    color: var(--purpur);
}

/* перемикач кольору сайту */
#switch
{
    width: 49px;
    height: 49px;
    border-radius: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    box-shadow: 0px 10px 5px -4px rgb(148 113 254 / 80%) inset;
    position: relative;
    cursor: pointer;
}

#switch::before
{
    content: '';
    display: inline-block;
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml,%3Csvg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M10.3 20.0002H10.2C8.8285 19.9897 7.4729 19.7057 6.21254 19.1649C4.95219 18.624 3.81242 17.837 2.85998 16.8502C1.09382 14.9615 0.0898585 12.4855 0.0418441 9.90009C-0.00617028 7.3147 0.905167 4.80316 2.59998 2.85017C3.69186 1.62651 5.06451 0.68625 6.59998 0.110169C6.77914 0.0412277 6.97436 0.0253123 7.16232 0.0643235C7.35029 0.103335 7.52305 0.195624 7.65998 0.330169C7.78679 0.459491 7.87611 0.620829 7.91838 0.796954C7.96065 0.973079 7.95429 1.15738 7.89998 1.33017C7.35193 2.8311 7.24335 4.45722 7.58698 6.01769C7.9306 7.57817 8.71217 9.00826 9.83998 10.1402C10.9783 11.2645 12.4118 12.0434 13.9745 12.3868C15.5372 12.7301 17.1652 12.6238 18.67 12.0802C18.8491 12.0171 19.0424 12.0064 19.2274 12.0492C19.4124 12.092 19.5814 12.1866 19.7146 12.3219C19.8478 12.4572 19.9398 12.6276 19.9797 12.8133C20.0196 12.9989 20.0058 13.1921 19.94 13.3702C19.4291 14.7339 18.6311 15.9719 17.6 17.0002C16.6408 17.9565 15.5021 18.7138 14.2494 19.2286C12.9966 19.7435 11.6544 20.0057 10.3 20.0002ZM5.45998 2.92017C4.95765 3.27247 4.49791 3.68187 4.08998 4.14017C2.71451 5.71631 1.9734 7.74709 2.01035 9.83868C2.0473 11.9303 2.8597 13.9336 4.28998 15.4602C5.0585 16.2584 5.97924 16.8944 6.99777 17.3307C8.0163 17.7669 9.11196 17.9946 10.22 18.0002H10.3C11.6262 17.9994 12.9331 17.6824 14.1122 17.0754C15.2914 16.4685 16.3088 15.5891 17.08 14.5102C15.5083 14.7138 13.9109 14.5545 12.4104 14.0446C10.9099 13.5346 9.54626 12.6875 8.4242 11.5683C7.30214 10.4491 6.45151 9.08769 5.93766 7.58852C5.4238 6.08935 5.26039 4.49234 5.45998 2.92017Z" fill="%239370FE"/%3E%3C/svg%3E');
}

#switch.active
{
    background: var(--dark);
    box-shadow: 0px 10px 5px -4px rgb(0 0 0 / 35%) inset;
}

#switch.active::before
{
    top: calc(50% - 11px);
    left: calc(50% - 11px);
    width: 22px;
    height: 22px;
    background-image: url('data:image/svg+xml,%3Csvg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M11 17C9.4087 17 7.88258 16.3679 6.75736 15.2426C5.63214 14.1174 5 12.5913 5 11C5 9.4087 5.63214 7.88258 6.75736 6.75736C7.88258 5.63214 9.4087 5 11 5C12.5913 5 14.1174 5.63214 15.2426 6.75736C16.3679 7.88258 17 9.4087 17 11C17 12.5913 16.3679 14.1174 15.2426 15.2426C14.1174 16.3679 12.5913 17 11 17ZM11 15C12.0609 15 13.0783 14.5786 13.8284 13.8284C14.5786 13.0783 15 12.0609 15 11C15 9.93913 14.5786 8.92172 13.8284 8.17157C13.0783 7.42143 12.0609 7 11 7C9.93913 7 8.92172 7.42143 8.17157 8.17157C7.42143 8.92172 7 9.93913 7 11C7 12.0609 7.42143 13.0783 8.17157 13.8284C8.92172 14.5786 9.93913 15 11 15ZM10 0H12V3H10V0ZM10 19H12V22H10V19ZM2.515 3.929L3.929 2.515L6.05 4.636L4.636 6.05L2.515 3.93V3.929ZM15.95 17.364L17.364 15.95L19.485 18.071L18.071 19.485L15.95 17.364ZM18.071 2.514L19.485 3.929L17.364 6.05L15.95 4.636L18.071 2.515V2.514ZM4.636 15.95L6.05 17.364L3.929 19.485L2.515 18.071L4.636 15.95ZM22 10V12H19V10H22ZM3 10V12H0V10H3Z" fill="white"/%3E%3C/svg%3E%0A');
}

/* батон */
#try_now
{

}