#slide-2
{
    height: 100vh;
}

#slide-2 .wrapper
{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    align-items: center;
}


#slide-2 img
{
    transition: .5s;
}

/* low animation */
#slide-2:hover img
{
    transform: scale(1.025);
}