#slide-3
{
    text-align: center;
    height: 100vh;
    position: relative;
    /* overflow: hidden; */
}

#slide-3::before
{
    content: '';
    position: absolute;
    z-index: -1;
    display: block;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(102,197,255,0.4) 0%, rgba(147,112,254,0.5) 13%, rgba(254,111,105,0.5) 39%, rgba(250,204,56,0.5) 100%);
    filter: blur(100px);
    opacity: .6;
}

#slide-3::after
{
    content: '';
    position: absolute;
    z-index: -1;
    display: block;
    bottom: 20%;
    right: -5%;
    width: 65%;
    height: 35%;
    border-radius: 0 100%;
    background: radial-gradient(circle, rgba(250, 204, 56,1) 0%, rgba(255,255,255,0.05) 100%);
    filter: blur(100px);
    opacity: .7;
}

#slide-3 .wrapper
{
    height: 100vh;
}

/* 6 elements */
#slide-3-carousel
{
    width: 940px;
    margin: auto;
}

@media(max-width:980px)
{
    #slide-3-carousel
    {
        width: 95%;
    }
}

#slide-3-carousel
{
    display: block;
}

#slide-3-carousel.off
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 60px;
}

#slide-3-carousel > div
{
    text-align: center;
}

#slide-3-carousel > div picture
{
    display: block;
    border-radius: 10px;
    border-top: 1px solid var(--white);
    margin: 0 0 20px;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    /* position: relative; */
    background: rgba(255,255,255,.2);
}

.dark #slide-3-carousel > div picture
{
    border: 1px solid var(--black);
    border-top: 1px solid var(--gray);
}

/* #slide-3-carousel > div picture::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--white);
    opacity: .1;
    z-index: -1;
} */

#slide-3-carousel > div picture source,
#slide-3-carousel > div picture img
{
    object-fit: cover;
    width: 240px;
    height: 240px;
    transition:.5s;
    transform: scale(1);
}

#slide-3-carousel > div picture:hover source,
#slide-3-carousel > div picture:hover img
{
    transform: scale(0.95);
}

#slide-3-carousel > div p
{
    font-size: 24px;
    font-weight: 600;
    line-height: 38px;
    /* white-space: nowrap; */
}


