#slide-1
{
    /* background: url('../images/slide-1-bg.png') no-repeat top right; */
    height: 100vh;

    position: relative;
}

#slide-1::before
{
    content: '';
    position: absolute;
    z-index: -1;
    display: block;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(148,113,254,1) 0%, rgba(255,255,255,0.05) 100%);
    filter: blur(50px);
    opacity: .7;
}

#slide-1::after
{
    content: '';
    position: absolute;
    z-index: -1;
    display: block;
    bottom: 20%;
    left: 20%;
    width: 35%;
    height: 35%;
    border-radius: 35%;
    background: radial-gradient(circle, rgba(250, 204, 56,1) 0%, rgba(255,255,255,0.05) 100%);
    filter: blur(50px);
    opacity: .7;
}

#slide-1 .wrapper
{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    align-items: center;
}

#slide-1 img
{
    transition: .5s;
}

/* low animation */
#slide-1:hover img
{
    transform: scale(1.025);
}